body {
    background-image: url("background.jpg");
    height: 100vh;
    background-size: cover;
    font-family: cursive;
}

.container {
   
    color: #ec1616; 
    float: left;
    border-radius:5 px;
}

.jumbotron {
    background-color: transparent;
    text-align: center;
}



h2,h3,h4,a {
    color: #fdfdfd;
}

a:hover {
    color: rgb(219, 77, 120);
}
